In [1]:
from google.colab import drive

drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
cd /content/gdrive/My Drive/Colab Notebooks

/content/gdrive/My Drive/Colab Notebooks

In [3]:
import pandas as pd

dg= pd.read_csv("gender_submission.csv")
dtest= pd.read_csv("test.csv")
dtrain= pd.read_csv("train.csv")

In [17]:
dg

     Survived
0           0
1           1
2           0
3           0
4           1
..        ...
413         0
414         1
415         0
416         0
417         0

[418 rows x 1 columns]

In [5]:
dtest=dtest.drop("PassengerId",axis=1)
dtest

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
dtrain=dtrain.drop("PassengerId",axis=1)
dtrain

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
X_train = dtrain.iloc[:,1:].values
X_train

array([[3, 'Braund, Mr. Owen Harris', 'male', ..., 7.25, nan, 'S'],
       [1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
        'female', ..., 71.2833, 'C85', 'C'],
       [3, 'Heikkinen, Miss. Laina', 'female', ..., 7.925, nan, 'S'],
       ...,
       [3, 'Johnston, Miss. Catherine Helen "Carrie"', 'female', ...,
        23.45, nan, 'S'],
       [1, 'Behr, Mr. Karl Howell', 'male', ..., 30.0, 'C148', 'C'],
       [3, 'Dooley, Mr. Patrick', 'male', ..., 7.75, nan, 'Q']],
      dtype=object)

In [31]:
y_train = dtrain.iloc[:,0].values
y_train

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [33]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np

enc = OrdinalEncoder()
enc.fit(X_train)
z=enc.transform(X_train)
z

array([[  2., 108.,   1., ...,  18.,  nan,   2.],
       [  0., 190.,   0., ..., 207.,  81.,   0.],
       [  2., 353.,   0., ...,  41.,  nan,   2.],
       ...,
       [  2., 413.,   0., ..., 131.,  nan,   2.],
       [  0.,  81.,   1., ..., 153.,  60.,   0.],
       [  2., 220.,   1., ...,  30.,  nan,   1.]])

In [35]:
zt=pd.DataFrame(z)
ztrain2 = (zt.fillna(0)).values
ztrain2

array([[  2., 108.,   1., ...,  18.,   0.,   2.],
       [  0., 190.,   0., ..., 207.,  81.,   0.],
       [  2., 353.,   0., ...,  41.,   0.,   2.],
       ...,
       [  2., 413.,   0., ..., 131.,   0.,   2.],
       [  0.,  81.,   1., ..., 153.,  60.,   0.],
       [  2., 220.,   1., ...,  30.,   0.,   1.]])

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt


clf = LogisticRegression()
clf.fit(ztrain2, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [45]:
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
yt = dtest.values
enc = OrdinalEncoder()
enc.fit(yt)
z=enc.transform(yt)
zt=pd.DataFrame(z)
ztest = (zt.fillna(0)).values
ztest

array([[  2., 206.,   1., ...,  24.,   0.,   1.],
       [  2., 403.,   0., ...,   5.,   0.,   2.],
       [  1., 269.,   1., ...,  41.,   0.,   1.],
       ...,
       [  2., 332.,   1., ...,   9.,   0.,   2.],
       [  2., 384.,   1., ...,  31.,   0.,   2.],
       [  2., 302.,   1., ...,  84.,   0.,   0.]])

In [44]:
y_pred=clf.predict(ztest)
y_pred
len(y_pred)

418

In [29]:
res=[]
for i in range(len(y_pred)):
  res.append([y_pred[i],i])
res

[[0, 0],
 [0, 1],
 [0, 2],
 [0, 3],
 [0, 4],
 [0, 5],
 [1, 6],
 [0, 7],
 [1, 8],
 [0, 9],
 [0, 10],
 [0, 11],
 [1, 12],
 [0, 13],
 [1, 14],
 [1, 15],
 [0, 16],
 [0, 17],
 [0, 18],
 [1, 19],
 [0, 20],
 [0, 21],
 [1, 22],
 [0, 23],
 [1, 24],
 [0, 25],
 [1, 26],
 [0, 27],
 [0, 28],
 [0, 29],
 [0, 30],
 [0, 31],
 [0, 32],
 [1, 33],
 [0, 34],
 [0, 35],
 [1, 36],
 [1, 37],
 [0, 38],
 [0, 39],
 [0, 40],
 [0, 41],
 [0, 42],
 [1, 43],
 [1, 44],
 [0, 45],
 [0, 46],
 [0, 47],
 [1, 48],
 [1, 49],
 [0, 50],
 [0, 51],
 [0, 52],
 [0, 53],
 [0, 54],
 [0, 55],
 [0, 56],
 [0, 57],
 [0, 58],
 [1, 59],
 [0, 60],
 [0, 61],
 [0, 62],
 [1, 63],
 [0, 64],
 [1, 65],
 [1, 66],
 [0, 67],
 [0, 68],
 [1, 69],
 [1, 70],
 [0, 71],
 [1, 72],
 [0, 73],
 [1, 74],
 [0, 75],
 [0, 76],
 [0, 77],
 [0, 78],
 [1, 79],
 [0, 80],
 [0, 81],
 [0, 82],
 [0, 83],
 [0, 84],
 [0, 85],
 [1, 86],
 [1, 87],
 [1, 88],
 [0, 89],
 [1, 90],
 [0, 91],
 [1, 92],
 [0, 93],
 [0, 94],
 [0, 95],
 [1, 96],
 [0, 97],
 [1, 98],
 [0, 99],
 [1, 100],
 [0, 101],
 [0, 102],
 [0, 103],
 [0, 104],
 [0, 105],
 [0, 106],
 [0, 107],
 [0, 108],
 [0, 109],
 [0, 110],
 [1, 111],
 [1, 112],
 [1, 113],
 [1, 114],
 [0, 115],
 [0, 116],
 [1, 117],
 [0, 118],
 [1, 119],
 [1, 120],
 [0, 121],
 [1, 122],
 [0, 123],
 [0, 124],
 [1, 125],
 [0, 126],
 [1, 127],
 [0, 128],
 [0, 129],
 [0, 130],
 [0, 131],
 [1, 132],
 [0, 133],
 [0, 134],
 [0, 135],
 [0, 136],
 [0, 137],
 [1, 138],
 [0, 139],
 [0, 140],
 [1, 141],
 [0, 142],
 [0, 143],
 [0, 144],
 [0, 145],
 [0, 146],
 [0, 147],
 [0, 148],
 [0, 149],
 [1, 150],
 [0, 151],
 [0, 152],
 [0, 153],
 [0, 154],
 [0, 155],
 [1, 156],
 [1, 157],
 [0, 158],
 [1, 159],
 [1, 160],
 [0, 161],
 [1, 162],
 [0, 163],
 [0, 164],
 [1, 165],
 [0, 166],
 [0, 167],
 [1, 168],
 [1, 169],
 [0, 170],
 [0, 171],
 [0, 172],
 [0, 173],
 [0, 174],
 [1, 175],
 [1, 176],
 [0, 177],
 [1, 178],
 [1, 179],
 [0, 180],
 [0, 181],
 [1, 182],
 [0, 183],
 [1, 184],
 [0, 185],
 [1, 186],
 [0, 187],
 [0, 188],
 [0, 189],
 [0, 190],
 [0, 191],
 [0, 192],
 [0, 193],
 [0, 194],
 [0, 195],
 [0, 196],
 [1, 197],
 [0, 198],
 [1, 199],
 [1, 200],
 [0, 201],
 [0, 202],
 [1, 203],
 [0, 204],
 [0, 205],
 [1, 206],
 [0, 207],
 [1, 208],
 [0, 209],
 [0, 210],
 [0, 211],
 [0, 212],
 [1, 213],
 [0, 214],
 [0, 215],
 [1, 216],
 [0, 217],
 [1, 218],
 [0, 219],
 [0, 220],
 [0, 221],
 [1, 222],
 [0, 223],
 [1, 224],
 [1, 225],
 [0, 226],
 [1, 227],
 [0, 228],
 [0, 229],
 [0, 230],
 [1, 231],
 [0, 232],
 [0, 233],
 [0, 234],
 [0, 235],
 [0, 236],
 [0, 237],
 [0, 238],
 [1, 239],
 [1, 240],
 [1, 241],
 [0, 242],
 [0, 243],
 [0, 244],
 [0, 245],
 [1, 246],
 [0, 247],
 [1, 248],
 [1, 249],
 [1, 250],
 [0, 251],
 [0, 252],
 [0, 253],
 [0, 254],
 [0, 255],
 [0, 256],
 [0, 257],
 [1, 258],
 [0, 259],
 [0, 260],
 [0, 261],
 [1, 262],
 [0, 263],
 [0, 264],
 [0, 265],
 [0, 266],
 [0, 267],
 [1, 268],
 [0, 269],
 [0, 270],
 [0, 271],
 [1, 272],
 [1, 273],
 [0, 274],
 [1, 275],
 [0, 276],
 [0, 277],
 [0, 278],
 [0, 279],
 [1, 280],
 [0, 281],
 [1, 282],
 [1, 283],
 [1, 284],
 [0, 285],
 [0, 286],
 [0, 287],
 [0, 288],
 [0, 289],
 [0, 290],
 [1, 291],
 [0, 292],
 [0, 293],
 [0, 294],
 [0, 295],
 [1, 296],
 [0, 297],
 [0, 298],
 [0, 299],
 [0, 300],
 [0, 301],
 [0, 302],
 [0, 303],
 [1, 304],
 [0, 305],
 [0, 306],
 [0, 307],
 [0, 308],
 [0, 309],
 [0, 310],
 [0, 311],
 [0, 312],
 [1, 313],
 [1, 314],
 [1, 315],
 [0, 316],
 [0, 317],
 [0, 318],
 [0, 319],
 [0, 320],
 [0, 321],
 [0, 322],
 [0, 323],
 [1, 324],
 [0, 325],
 [1, 326],
 [0, 327],
 [0, 328],
 [0, 329],
 [1, 330],
 [0, 331],
 [0, 332],
 [1, 333],
 [0, 334],
 [0, 335],
 [0, 336],
 [0, 337],
 [0, 338],
 [0, 339],
 [0, 340],
 [0, 341],
 [0, 342],
 [1, 343],
 [0, 344],
 [1, 345],
 [0, 346],
 [0, 347],
 [0, 348],
 [1, 349],
 [1, 350],
 [0, 351],
 [0, 352],
 [0, 353],
 [1, 354],
 [0, 355],
 [1, 356],
 [0, 357],
 [0, 358],
 [1, 359],
 [0, 360],
 [1, 361],
 [1, 362],
 [0, 363],
 [1, 364],
 [0, 365],
 [0, 366],
 [1, 367],
 [1, 368],
 [0, 369],
 [0, 370],
 [1, 371],
 [0, 372],
 [0, 373],
 [1, 374],
 [1, 375],
 [0, 376],
 [0, 377],
 [0, 378],
 [0, 379],
 [0, 380],
 [0, 381],
 [1, 382],
 [1, 383],
 [0, 384],
 [1, 385],
 [0, 386],
 [0, 387],
 [0, 388],
 [0, 389],
 [0, 390],
 [1, 391],
 [0, 392],
 [0, 393],
 [0, 394],
 [1, 395],
 [0, 396],
 [1, 397],
 [0, 398],
 [0, 399],
 [1, 400],
 [0, 401],
 [1, 402],
 [0, 403],
 [0, 404],
 [0, 405],
 [0, 406],
 [0, 407],
 [1, 408],
 [0, 409],
 [1, 410],
 [1, 411],
 [1, 412],
 [0, 413],
 [1, 414],
 [0, 415],
 [0, 416],
 [0, 417]]

In [46]:
y_sample = dg.iloc[:,0].values
y_sample

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [23]:
from sklearn.metrics import accuracy_score
acc= accuracy_score(y_sample,y_pred)
acc

0.9497607655502392